#toggleNewPassword, #toggleConfirmPassword {
    right: 40px !important;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

#toggleNewPassword.active, #toggleConfirmPassword.active {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 768px) {
    #toggleNewPassword, #toggleConfirmPassword {
        right: 30px !important;
    }
}

@media (max-width: 480px) {
    #toggleNewPassword, #toggleConfirmPassword {
        right: 20px !important;
    }
}